<table class="table table-striped">
  <thead>
    <tr>
      <th>Threat Level</th>
      <th>Lat</th>
      <th>Long</th>
      <th>Uploaded at</th>
    </tr>
  </thead>
  <tbody>
    <% @imsi_data.each do |imsi_datum| %>
      <tr>
        <td><%= human_threat_level imsi_datum.aimsicd_threat_level %></td>
        <td><%= imsi_datum.latitude_degrees %></td>
        <td><%= imsi_datum.longitude_degrees %></td>
        <td><%=l imsi_datum.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>