<p id="notice"><%= notice %></p>

<p>
  <strong>Aimsicd thread level:</strong>
  <%= @imsi_datum.aimsicd_thread_level %>
</p>

<%= link_to 'Edit', edit_imsi_datum_path(@imsi_datum) %> |
<%= link_to 'Back', imsi_data_path %>
