<div id="map"></div>

<h1>All data</h1>
<div class="row">
	<div class="col-xs-6">
		<h2>IMSI</h2>
		<%= render 'imsi_data/index' %>
	</div>
	<div class="col-xs-6">
		<h2>WIFI</h2>
		<%= render 'wifi_data/index' %>
	</div>
</div>